<li>
  <div class="col-sm-6" class="postMessages">
    <div class="postCard">
      <h4 class="card-header" id="postCardHeader">{{this.dataValues.userName}} <img src="{{this.dataValues.pic}}" style="width=20px"
          alt="" id="postImg"> <img src="images/{{this.dataValues.badge}}" alt="" id="postB" style="width=10px"> </h4>
      <div class="card-body" class="postCardBody">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p id="userPost">{{this.dataValues.post}}</p>
        <hr>
        <p id="timeStamp">{{this.dataValues.createdAt}}</p>
        <hr>
        <div class="col-sm-6">
          <input type="hidden" class="postId" value={{this.dataValues.id}}>
          <input type="text" name="" class="comment"><br>
          <button type="button" class="btn btn-outline-primary addComment">Add Comment</button>
        </div>
        <button class="toggleComments">Toggle Comments</button>
        <div data-postId={{this.dataValues.id}} class="commentSection">
          <ul>
          {{#each comments}}
          <p>{{> comment-block}}</p>
          {{/each}}
          </ul>
          </div>
      </div>
    </div>
  </div>
</li>